#edit-field-listing-category.form-checkboxes,
#edit-field-listing-amenities.form-checkboxes{
   float: left;width: 100%; padding-top: 10px;
}

#edit-field-listing-category.form-checkboxes > div.form-item,
#edit-field-listing-amenities.form-checkboxes > div.form-item{
   float: left;width: 30%;margin-right: 1.5%; margin-bottom: 5px;
}

#edit-field-listing-category.form-checkboxes > div.form-item:nth-child(3n+1), 
#edit-field-listing-amenities.form-checkboxes > div.form-item:nth-child(3n+1){
   clear: both;
}