<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="footer-1">
                    {#  Useful-links menu  #}
                    {{page.footer_first}}
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-12">
                    {#  Contact Information  #}
                    {{page.footer_second}}
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    {# Subscription Form #}
                    {{page.footer_third}}  
                </div>
            </div>
        </div>
        {# footer logo and copyrights #}
        {{page.footer_fifth}}
    </div>
</footer>

<a href="#" class="back-to-top back-to-top-hide active">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
        <g transform="translate(45) rotate(90)">
            <g transform="translate(35.438 45) rotate(180)">
                <path d="M25.792,21.463,4.779.451a1.418,1.418,0,0,0-2.074,0L.451,2.706a1.418,1.418,0,0,0,0,2.074L18.171,22.5.451,40.221a1.418,1.418,0,0,0,0,2.074l2.254,2.254a1.419,1.419,0,0,0,2.074,0L25.791,23.538a1.42,1.42,0,0,0,0-2.075Z"></path>
            </g>
        </g>
    </svg>
</a>