/****/
.sewards_sliderlayer {
  background: #f5f5f5 !important;
}

.layer-style-image {
  display: inline-block;
  text-align: center;
}

.layer-style-image img {
  max-width: 100% !important;
  height: auto !important;
}

.sewards_sliderlayer .tp-bullets, #sewards_slider_single .tp-bullets {
  -webkit-opacity: 1 !important;
  -ms-opacity: 1 !important;
  -o-opacity: 1 !important;
  opacity: 1 !important;
  visibility: visible !important;
  margin-left: -40px;
}

.sewards_sliderlayer .tp-bullets .tp-bullet, #sewards_slider_single .tp-bullets .tp-bullet {
  width: 20px;
  height: 5px;
  background: rgba(255, 255, 255, 0.4);
}

.sewards_sliderlayer .tp-bullets .tp-bullet.selected, #sewards_slider_single .tp-bullets .tp-bullet.selected {
  background: #fff;
}

.sewards_sliderlayer .tparrows, #sewards_slider_single .tparrows {
  width: 36px;
  height: 36px;
  background: #fff !important;
  line-height: 36px;
  color: #000;
  font-size: 18px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

@media (max-width: 575.98px) {
  .sewards_sliderlayer .tparrows, #sewards_slider_single .tparrows {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.sewards_sliderlayer .tparrows:before, #sewards_slider_single .tparrows:before {
  color: #000 !important;
  line-height: 36px !important;
}

.sewards_sliderlayer .tp-caption, #sewards_slider_single .tp-caption {
  z-index: 99;
  line-height: 28px;
  color: #000;
}

.sewards_sliderlayer .slide-style-1, #sewards_slider_single .slide-style-1 {
  font-size: 56px;
  line-height: 60px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.sewards_sliderlayer .slide-style-2, #sewards_slider_single .slide-style-2 {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.sewards_sliderlayer .slide-style-3, #sewards_slider_single .slide-style-3 {
  font-size: 20px;
  line-height: 30px;
}

.sewards_sliderlayer .slide-style-4, #sewards_slider_single .slide-style-4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.6);
  padding: 6px 15px;
}

.sewards_sliderlayer .sub-title, #sewards_slider_single .sub-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.sewards_sliderlayer .sub-title:after, #sewards_slider_single .sub-title:after {
  content: "";
  width: 5px;
  height: 100%;
  background: #3EAAFD;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 99;
}

.sewards_sliderlayer .text-large, #sewards_slider_single .text-large {
  color: #000;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
}

.sewards_sliderlayer .text-big, #sewards_slider_single .text-big {
  color: #000;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.sewards_sliderlayer .text-medium, #sewards_slider_single .text-medium {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.sewards_sliderlayer .small-text, #sewards_slider_single .small-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: #fff;
  line-height: 18px;
}

@media (max-width: 575.98px) {
  .sewards_sliderlayer .text-normal, #sewards_slider_single .text-normal {
    font-size: 14px;
  }
}

.sewards_sliderlayer .text-black, #sewards_slider_single .text-black {
  color: #000 !important;
}

.sewards_sliderlayer .text-theme, #sewards_slider_single .text-theme {
  color: #3EAAFD !important;
}

.sewards_sliderlayer .text-white, #sewards_slider_single .text-white {
  color: #fff !important;
}

.sewards_sliderlayer .text-center, #sewards_slider_single .text-center {
  text-align: center;
}

.sewards_sliderlayer .text-left, #sewards_slider_single .text-left {
  text-align: left;
}

.sewards_sliderlayer .btn-slide.inner, .sewards_sliderlayer .btn-slide a, #sewards_slider_single .btn-slide.inner, #sewards_slider_single .btn-slide a {
  background: #3EAAFD;
  color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
  position: relative;
  display: inline-block;
  line-height: 38px;
  z-index: 1;
  letter-spacing: 0.5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 5px 0 0 #0c94fc;
  box-shadow: 0 5px 0 0 #0c94fc;
  border: none;
}

@media (max-width: 767.98px) {
  .sewards_sliderlayer .btn-slide.inner, .sewards_sliderlayer .btn-slide a, #sewards_slider_single .btn-slide.inner, #sewards_slider_single .btn-slide a {
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .sewards_sliderlayer .btn-slide.inner, .sewards_sliderlayer .btn-slide a, #sewards_slider_single .btn-slide.inner, #sewards_slider_single .btn-slide a {
    padding: 0 6px;
    line-height: 24px;
    font-size: 10px;
  }
}

.sewards_sliderlayer .btn-slide.inner:hover, .sewards_sliderlayer .btn-slide.inner:focus, .sewards_sliderlayer .btn-slide.inner:active, .sewards_sliderlayer .btn-slide.inner.active, .sewards_sliderlayer .btn-slide a:hover, .sewards_sliderlayer .btn-slide a:focus, .sewards_sliderlayer .btn-slide a:active, .sewards_sliderlayer .btn-slide a.active, #sewards_slider_single .btn-slide.inner:hover, #sewards_slider_single .btn-slide.inner:focus, #sewards_slider_single .btn-slide.inner:active, #sewards_slider_single .btn-slide.inner.active, #sewards_slider_single .btn-slide a:hover, #sewards_slider_single .btn-slide a:focus, #sewards_slider_single .btn-slide a:active, #sewards_slider_single .btn-slide a.active {
  color: #fff;
  background: #0c94fc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sewards_sliderlayer .btn-slide-white.inner, .sewards_sliderlayer .btn-slide-white a, #sewards_slider_single .btn-slide-white.inner, #sewards_slider_single .btn-slide-white a {
  background: #fff;
  color: #3EAAFD;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
  position: relative;
  display: inline-block;
  line-height: 38px;
  z-index: 1;
  letter-spacing: 0.5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
  border: none;
}

@media (max-width: 767.98px) {
  .sewards_sliderlayer .btn-slide-white.inner, .sewards_sliderlayer .btn-slide-white a, #sewards_slider_single .btn-slide-white.inner, #sewards_slider_single .btn-slide-white a {
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .sewards_sliderlayer .btn-slide-white.inner, .sewards_sliderlayer .btn-slide-white a, #sewards_slider_single .btn-slide-white.inner, #sewards_slider_single .btn-slide-white a {
    padding: 0 6px;
    line-height: 24px;
    font-size: 10px;
  }
}

.sewards_sliderlayer .btn-slide-white.inner:hover, .sewards_sliderlayer .btn-slide-white.inner:focus, .sewards_sliderlayer .btn-slide-white.inner:active, .sewards_sliderlayer .btn-slide-white.inner.active, .sewards_sliderlayer .btn-slide-white a:hover, .sewards_sliderlayer .btn-slide-white a:focus, .sewards_sliderlayer .btn-slide-white a:active, .sewards_sliderlayer .btn-slide-white a.active, #sewards_slider_single .btn-slide-white.inner:hover, #sewards_slider_single .btn-slide-white.inner:focus, #sewards_slider_single .btn-slide-white.inner:active, #sewards_slider_single .btn-slide-white.inner.active, #sewards_slider_single .btn-slide-white a:hover, #sewards_slider_single .btn-slide-white a:focus, #sewards_slider_single .btn-slide-white a:active, #sewards_slider_single .btn-slide-white a.active {
  color: #3EAAFD;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sewards_sliderlayer .sewards-overlay:after, #sewards_slider_single .sewards-overlay:after {
  content: "";
  background: url(../imagesgrid-slide.png) repeat rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
