.nav-tabs, .topbar ul , ul.contact-info, ul.menu{
   list-style: none!important;
   padding-left: 0;
}
.node--view-mode-full{
   p{
    margin-top: 0;
      margin-bottom: 10px;
   }
}

body{
  div.body-page{
    background-color: #fff;
  }
}

.site-branding-logo{
  max-height: inherit;
  img{
    max-height: 80px;
    width: auto;
  }
}
header .site-branding-logo img.logo-site{display: block!important;}

.listing-taxonomy-page .view-page{margin-bottom: 0!important;}
.sew-listings-map-page{min-height: 100vh;}
.map-block-1 .sew-listings-map-page{min-height: auto;} 
.event-full{
  .post-title{
    font-size: 30px;
    margin: 20px 0; 
  } 
}

.listing-main-map-4, .sew-listings-full-page-2 #listing-main-map{
  min-height: 600px;
}

@media(max-width: 992px){
  .listings-map-3 .main-map-wrapper{
    width: 100%!important;
  }
}

@media(min-width: 992px){
  .navigation .sew_menu .sub-menu > li:hover > ul {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

.gsc-block-view .sew-listings-map-page{min-height: 100px!important;}


.main-map-wrapper{
  display: block!important;
  &.d-none{
    opacity: 0;
    z-index: -11;
  }
  @media(min-width: 576px){
    &.d-sm-none{
      opacity: 0;
      z-index: -11;
    }
  }
  @media(min-width: 768px){
    &.d-md-none{
      opacity: 0;
      z-index: -11;
    }
  }
  @media (min-width: 992px) {
    &.d-lg-block{
      opacity: 1;
      z-index: 11;
    }
  }
}