<section class="clients-1 dt-section">
    <div class="container">
        <div class="row home-1-s-grid">
            <div class="col-lg-3 col-md-12 col-12">
                <div class="home-1-title left-side">
                    <h2>{{content.field_title.0}}</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="clients row s-10">
                {% for key,value in content.field_images['#items'] %}
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="item">
                            <img src="{{file_url(content.field_images['#items'][key].entity.uri.value)}}" alt="{{content.field_images['#items'].alt}}">
                        </div>
                    </div>
                {% endfor %}    
                </div>
            </div>
        </div>
    </div>
</section>