<section class="slider-style-6 bg-gray dt-section">
    <div class="container">
        <div class="style-6-slider owl-carousel owl-theme">
            {{content.field_client_03}}
        </div>
    </div>
</section>