<hr class="section-divider">
    <section class="slider-style-4 dt-section">
        <div class="container">
            <div class="slider-wrapper">
                <div class="style-4-slider owl-carousel owl-theme">
                    {{content.field_client}}                    
                </div>
                <div class="arrows">
                    <button class="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="200" viewBox="0 0 300 200">
                            <path data-name="Path 39778" d="M0,99.973A17.449,17.449,0,0,1,3.809,89.66l75-85C83.891-.216,93.638-2.225,99.318,3.408c5.595,5.549,5.428,16.3-.144,21.875L46.44,84.973h239.5c7.766,0,14.063,6.717,14.063,15s-6.3,15-14.063,15H46.44l52.734,59.69c4.8,5.127,5.686,16.267.144,21.875s-15.633,3.819-20.508-1.252l-75-85A14.97,14.97,0,0,1,0,99.971Z" fill="#131517"/>
                        </svg>
                    </button>
                    <button class="next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="200" viewBox="0 0 300 200">
                            <path data-name="Path 39776" d="M300,99.973a17.449,17.449,0,0,0-3.809-10.313l-75-85c-5.081-4.872-14.828-6.881-20.508-1.248-5.595,5.549-5.428,16.3.144,21.875l52.734,59.69H14.063C6.3,84.973,0,91.69,0,99.974s6.3,15,14.063,15h239.5l-52.734,59.69c-4.8,5.127-5.686,16.267-.144,21.875s15.633,3.819,20.508-1.252l75-85A14.97,14.97,0,0,0,300,99.971Z" fill="#131517"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
<hr class="section-divider">