.gsc-chart{
   text-align: center;
   .content{
      text-align: center;
      > div{
         display: block;
      }
      .icon{
         font-size: 25px;
         margin-top: 5px;
      }
      .title{
         font-weight: 500;    
         position: relative;
         margin-bottom: 10px;
         margin-top: 15px;
         font-family: $font-second;
         color: $headings-color;
         font-size: 16px;
      }
   }
}