.gsc-heading{
  padding: 0 0 30px;
  display: block;
  width: 100%;
  @include clearfix();
  @include media-breakpoint-down(md){
  padding: 0 0 30px;
  &.heading-bg-white{
    padding: 30px 20px!important;
    background: $white;
    }
  }
  .title{
    margin: 0;
    position: relative;
    text-transform: capitalize;
  }
  .title-icon{ 
    color: $theme_color;
    margin: 2px 0 0;
    i{
      font-size: 20px;
    }
  }
  .sub-title{
    color: $theme_color;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
    font-family: $font-second;
    font-weight: 500;
  }
  .title-desc{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 0;
    line-height: 28px;
    p{
      margin-bottom: 0;
    }
  }
  &.align-center{
    text-align: center;
  }
  &.align-left{
    text-align: left;
    .title-desc{
      float: left;
    }
    .title-icon{
      padding-left: 50px;
    }
  }
  &.align-right{
    text-align: right;
    .title-desc{
      float: right;
    }
    .title-icon{
      padding-right: 50px;
    }
  }
  &.style-1{
    .title{
      font-size: 30px;
      position: relative;
      font-weight: 600;
      max-width: 680px;
    }
    .title-desc{
      padding-top: 6px;
    }
    &.align-center{
      .title{
        margin: 0 auto;
      }
    }
  }
  &.style-2{
    padding: 0 0 30px;
    .title{  
      font-size: 30px;
      text-transform: capitalize;
      line-height: 38px;
      font-weight: 600;
    }
    .title-desc{
      margin-top: 5px;
    }
  }
  &.style-3{
    .title{
      font-size: 30px;
      text-transform: capitalize;
      line-height: 38px;
      font-weight: 600;
      color: $theme-color-second!important;
    }
  }
  &.text-light{
    .title-sub{
      color: $white;
    }
    .title{
      color: $white;
    }
    .title-sub span{
      color: rgba(255, 255, 255, 0.9);
    }
    .title-icon{
      color: $white;
      span{
        &:after, &:before{
          background: rgba(255, 255, 255, 0.6);
        }
      }
    }
    .title-desc{
      color: #f5f5f5;
    }
  }
}