<div class="offcanvas-sidebar d-lg-none d-md-none">
      <div id="sew-offcanvas-inner" class="sew-offcanvas-inner">
         {% if page.offcanvas %}
            {{ page.offcanvas }}
         {% endif %}
      </div>
   </div>   