<div class="tabs-menu tabs-style-2">
    <ul class="nav">
        <li class="nav-link active" data-filter="*">All</li>
            {% for row in rows %}
                {{row.content}}
            {% endfor %}
        </ul>
    </li>    
</div>
