<section class="blog-2-column dt-section-taxonomy">
    <div class="container">
        <div class="blog-style-1">
            <div class="row s-25">
                {% for row in rows %}
                    {{row.content}}
                {% endfor %}
            </div>
        </div>
    </div>    
</section>