<section class="features-3">
    <div class="container">
        <div class="items">
            <div class="row s-30">
                {{content.field_feature_03}}                        
            </div>
        </div>
    </div>
</section>