<div class="col-lg-4 col-md-6 col-12">
    <div class="item">
            {{content.field_icon.0}}
        <h4>{{content.field_title.0}}</h4>
        <p>{{content.field_description.0}}</p>
    </div>
</div>
