.event-block{
  @include border-radius(4px);
  @include transition(all 0.35s);
  position: relative;
  overflow: hidden;
  .event-content{
    background: $white;
    padding: 15px 20px;
    border: 1px solid $border-color;
    border-top: 0;
    min-height: 185px;
    .event-info{ 
      padding-left: 55px;
      position: relative;
      line-height: 20px;
      font-family: $font-second;
      min-height: 56px;
      border-bottom: 1px solid $border-color;
      margin-bottom: 15px;
      padding-bottom: 15px;
      .date{
        position: absolute; 
        top: 8px;
        left: 0;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        border-right: 1px solid $border-color;
        padding-right: 10px;
        .day{
          display: block;
          color: $headings-color;
        }
        .month{
          display: block;
          color: $theme_color;
        }
      }
      .title{
        font-size: 18px;
        line-height: 26px;
        display: block;
        margin-bottom: 5px;
        font-weight: 500; 
        margin-bottom: 0;
      }
    }
    .event-meta{
      font-size: 12px;
      font-family: $font-second;
      color: $headings-color;
      margin-bottom: 5px;
    }
    .body{
      line-height: 24px; 
      font-size: 13px;
    }
  }
}

.event-block-2{
  padding-bottom: 35px;
  margin-bottom: 35px;
  @include clearfix();
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  .post-title{
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 48px;
  }
  .event-date{
    text-align: center;
    font-family: $font-second;
    color: $theme_color!important;
    font-weight: 500;
    font-size: 16px;
  }
  .event-meta{
    font-size: 15px;
    margin-top: 5px;
    line-height: 22px;
  }
  .event-line{
    @include size(50px, 2px);
    background: $theme_color;
    margin: 15px 0 15px;
    display: inline-block;
  }
  @include media-breakpoint-down(md){
    .post-title{
      margin-top: 0;
      font-size: 18px;
    }
  } 
}

.text-light{
  .event-block-2{
    .post-title{
      a{
        color: $white!important;
        &:hover{
          color: $theme_color!important;
        }
      }
    }
  }
}

.event-list-item{
  .event-date{
    display: inline-block;
    background: $theme_color;
    color: $white;
    @include border-radius(3px);
    padding: 0 15px;
    font-size: 13px;
    line-height: 30px;
    line-height: 24px;
  }
  .event-title{
    margin-top: 5px;
    a{
      font-size: 20px;
      color: $black;
      font-weight: 500;
    }
  }
  .event-body{
    color: #232526;
    p{
      margin-bottom: 0;
    }
  }
}

.events-list{
  .view-content-wrap{
    .item{
      &:last-child{
        .event-block-2{
          margin-bottom: 0;
          padding-bottom: 0;
          border: none;
        }
      }
    }
  }
}

.event-block-list{
   .event-date{
      @include size(110px, auto);
      float: left;
      background: $theme_color;
      color: $white;
      padding: 12px 10px;
      span{
         display: block;
         &.day{
            font-size: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            line-height: 1;
            margin-bottom: 3px;
            padding-bottom: 3px;
         }
      }
   }
   .event-title{
      a{
         font-weight: 600;
         font-size: 14px;
         display: inline-block;
         line-height: 24px;
      }
   }
   .event-address{
      font-size: 14px;
      i{
         font-size: 16px;
         color: $theme_color;
      }
   }
   .event-content{
      padding-left: 125px;
   }
}

.event-full{
  margin-bottom: 30px;
  .event-info{
    background: #f5f5f5;
    padding: 20px;
    font-size: 16px;
    .date, .address{
      > *{
        float: left;
      }
      i{
        margin-right: 10px;
        margin-top: 6px;
      }
    }
  }
}

.events-list.v2{
  .view-content-wrap{
    .item{
      margin-bottom: 30px;
      padding-bottom: 5px;
      border-bottom: 1px solid $border-color;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
  .event-block-2{
    .event-content{
      .post-title{
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}