$theme-font-path : "../fonts/"!default;

@font-face {
    font-family: 'din_pro';
    src: url('#{$theme-font-path}dinpro/DINPro-Medium.eot');
    src: url('#{$theme-font-path}dinpro/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$theme-font-path}dinpro/DINPro-Medium.woff2') format('woff2'),
        url('#{$theme-font-path}dinpro/DINPro-Medium.woff') format('woff'),
        url('#{$theme-font-path}dinpro/DINPro-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

