.area-main-menu{
	.menu-toggle{
		display: none;
	}
}
@include media-breakpoint-up(lg){
	//colors
	.navigation {
		position: relative;
		clear: both;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.sew_menu { 
			float: left;
			position: relative; 
			font-size: 0;
			li {
				position: relative;
				a{
					text-align: left!important;
					.icaret{
						margin-left: 4px;
						border: none!important;
						font-size: 8px;
					}
				}
			}
			> li {
				display: inline-block;
				 &.sew-mega-menu{
				 	position: static!important;
				 	> .sub-menu{
				 		width: 100%;
				 	}
				 }
				&:hover {
					@include media-breakpoint-up(sm){ 
						> ul.sub-menu, div.sub-menu {
							display: block;
							visibility: visible;
							@include opacity(1);
							top: 99%;
							-webkit-transform: rotateX(0); 
		              -moz-transform: rotateX(0);
		              -ms-transform: rotateX(0);
		              -o-transform: rotateX(0);
		              transform: rotateX(0);
						}
						> a {
							color: $theme_color;
						}
					}	
				}
				> a { 
					display: block;
					position: relative;
					font-size: 16px; 
					font-weight: 500;
					padding: 28px 20px;
					@include transition(all 0.35s);   
					text-align: center; 
					font-family: $font-second; 
					color: #ddd;
					@include media-breakpoint-down(lg){
						padding-left: 12px;
						padding-right: 12px;
					}
					@include media-breakpoint-down(md){
						padding-left: 10px;
						padding-right: 10px;
					}
					@include media-breakpoint-down(sm){
						padding-left: 8px;
						padding-right: 8px;
					}
					&:hover, &:after, &:active{
						color: $white;
						&:before{
							@include opacity(1);
						}
					}
					&.is-active{
						color: $white;	
						&:before{
							@include opacity(1);
						}
					}
					> span{
						position: relative;
						padding-bottom: 6px;
					}
				} 
				&.menu-item--active-trail > a{
					color: $white;
				}
				&.megamenu{
					&.menu-columns-2{
						> ul.sub-menu{
							> li{
								width: 50%;
								float: left;
							}
						}
					}
					&.menu-columns-3{
						> ul.sub-menu{
							> li{
								width: 33.33%;
								float: left;
							}
						}
					}
					&.menu-columns-4{
						> ul.sub-menu{
							> li{
								width: 25%;
								float: left;
							}
						}
					}
					&.menu-columns-5{
						> ul.sub-menu{
							> li{
								width: 20%;
								float: left;
							}
						}
					}
				} 
				&.menu-list{
					ul.sub-menu{
						min-width: 250px;
					 	> li{
							border-bottom: 1px solid $border-color;
							> a{
								padding: 10px 15px;
								text-transform: uppercase;
							}
						}	
					}
				}
			}
			.megamenu {
				position: static;
				>.sub-menu {
					width: 100%;
					padding: 20px;
					.sub-menu{
					   -webkit-transform: rotateX(0);
	               -moz-transform: rotateX(0);
	               -ms-transform: rotateX(0);
	               -o-transform: rotateX(0);
	               transform: rotateX(0);
					}
					> li {
						border: none;
						position: static;
						padding: 0 15px;
						> ul.sub-menu {
							@include media-breakpoint-up(sm){
								display: block!important;
								visibility: visible;
							}
							position: static;
							border-width: 0;
							padding: 0;
							min-width: inherit;
							width: 100%;
							background-color: transparent;
							@include opacity(1);
							@include box-shadow(none);
							li{
							 	padding: 10px 0 0;
							 	margin-bottom: 0;
							 	border: none;
							}
						}
						> a {
							display: block;
							font-size: 14px;
							color: $black;
							font-weight: 500;
							text-transform: none;
							padding: 0 0 5px;
							margin-bottom: 5px;
							border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
							font-family: $font-second;
							position: relative;
							color: $text-color;
							&:hover{
								color: $theme_color;
							}
							&:after{
								display: none;
							}
						}
					}
				}
			}
			.sub-menu {
				top: 99%;
				@include opacity(0);
				position: absolute;
				min-width: 280px;
				background-color: $white;
				z-index: 999;
				left: 0;
				padding: 10px 20px 0;
				visibility: hidden;
				@include opacity(0);
				@include transition(all 0.2s ease-out);
				@include box-shadow(0px 4px 4px 1px rgba(0, 0, 0, 0.2));
				-webkit-transform: rotateX(-90deg);
    			-moz-transform: rotateX(-90deg);
	          -ms-transform: rotateX(-90deg);
	          -o-transform: rotateX(-90deg);
	          transform: rotateX(-90deg);
	          -webkit-transform-origin: 0 0;
	          -moz-transform-origin: 0 0;
	          -ms-transform-origin: 0 0;
	          -o-transform-origin: 0 0;
	          transform-origin: 0 0;
				> li {
					padding: 0 0 9px 0;
					margin-bottom: 9px;
					border-bottom: 1px solid $border-color;
					> a {
						display: block;
						line-height: 26px;
						text-decoration: none;
						font-size: 13px;
						font-weight: 400;
						letter-spacing: 0.5;
						text-transform: none;
						@include transition(all 0.2s ease-out);
						position: relative;
						font-family: $font-second;
						color: #333;
						&:hover, &:focus, &:active {
							color: $theme_color;
						}
					}
					&:last-child{
						border-bottom: 0;
					}
					ul {
						position: absolute;
						top: 0;
						right: 0;
						min-width: 250px;
						visibility: hidden;
						@include opacity(0);
						display: none;
						z-index: 11;
					}
					&:hover > ul {
						@include media-breakpoint-up(sm){
							visibility: visible;
							@include opacity(1);
							display: block;
							left: 100%;
						}
					}
				}
			}
		}
	}
}	

body.header-absolute{
	.navigation {
		ul.sew_menu{
	   	> li {
	   		> a{
	   			color: $white!important;
	   		}
	   	}
	   }	
	}
}

//Widget inner megamenu
.sew-mega-menu{
	.block-blocktabs{
    position: relative;
    .ui-widget{
      font-size: $font-size-base;
    }
    .ui-tabs-nav{
      padding: 0;
      position: static;
      width: 15%;
      float: left;
      > li{
        background: none;
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        float: none;
        clear: both;
      	padding-right: 20px;
        > a{
         font-size: 12px;
         text-transform: uppercase;
        	border-bottom: 1px solid $border-color;
         font-weight: 600;
         padding-bottom: 10px;
        	margin-bottom: 10px;
        	width: 100%;
        }
        &:last-child{
          > a{
            padding-right: 0;
          }
        }
        &.ui-tabs-active{
           > a{
            color: $theme_color;
           }
        }
      }
    }
    .ui-tabs-panel{
    	float: left;
    	width: 85%;
    }
  }
}
