.testimonial-node-2{
  background: none;
  max-width: 620px;
  float: left;
  position: relative;
  @include border-radius(6px);
  border: 1px solid $border-color;
  .testimonial-content{
    padding: 20px;
  }
  .video{
    margin-bottom: 20px;
    .popup-video{
      display: inline-block;
      background: url('#{$base-theme-image-path}/icon-play-2.png') no-repeat left center $nocolor;
      height: 55px;
      padding-left: 75px;
      line-height: 55px;
      @include transition(all 0.35s);
      &:hover, &:focus, &:active{
        @include scale(0.9);
      }
    }
  }
  .quote{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    font-family: $font-second;
    color: $headings-color;
  }
  .title{
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
    color: $black;
    font-family: $font-second;
  }
  .job{
    font-size: 13px;
  }
}

.testimonial-node-3{
  background: none;
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  .avatar{
    margin-bottom: 30px;
    img{
      width: 90px;
      @include border-radius(50%);
    }
  }
  .quote{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    font-family: $font-second;
    color: $headings-color;
  }
  .title{
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    color: $theme_color;
    font-family: $font-second;
  }
  .job{
    font-size: 13px;
    color: $theme_color-second;
  }
}

.testimonial-grid{
  .item-grid{
    margin-bottom: 45px;
    @include clearfix();
    .testimonials-quote{
      font-size: 16px;
      color: $black;
      padding: 30px;
      border: 1px solid $border-color;
      font-weight: 300;
      font-style: italic;
    }
    .testimonials-profile{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      float: left;
      padding-top: 20px;
      &:after{
        content: "";
        position: absolute;
        @include size(50px, 2px);
        background: $theme_color;
        top: -1px;
        left: 0;
        z-index: 1;
      }
      .right{
        padding-left: 70px;
        .name{
          font-size: 16px;
          font-weight: 600;
          color: #000000;
          margin: 0;
          text-transform: uppercase;
        }
        .job{
          font-size: 12px;
          font-weight: 900;
          color: $theme_color;
          text-transform: uppercase;
        }
      }
      .left{
        display: inline-block;
        float: left;
        img{
          @include border-radius(50%);
          width: 50px;
          height: auto;
        }
      }
    }
  }
}