.item-list{
  ul{
    overflow: hidden;
    padding: 0;
    li.view-list-item{
      margin:0 0 30px;
      overflow: hidden;
      list-style-type: none;
      .post-block{
        margin: 0;
      }
      &:last-child{
        //margin-bottom: 0;
      }
    }
  }
}
.padding-small{
  .item-list ul li.view-list-item{
    margin-bottom: 20px!important;
    &:last-child{
      margin-bottom: 0!important;
    }
  }
}

ul[data-drupal-views-infinite-scroll-pager]{
  text-align: center;
  &.pager{
    margin: 10px 0 20px;
    a{
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      border: 1px solid $theme_color;
      background: $theme_color;
      display: inline-block;
      color: $white;
      padding: 5px 15px;
      @include border-radius(30px);
      @include transition(all 0.35s);
      &:hover, &:active, &:focus{
        background: $white;
        color: $theme_color;
      }
    }
  }
}

.more-link{
  text-align: center;
  margin-top: 30px;
}

.views-view-grid{
  .views-row{
    width: auto;
    clear: none;
    float: none!important;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.post-masonry-style > div.views-col{
  margin-bottom: 10px;
}

.no-padding{
  .sew-portfolio-items{
    .row{
      margin: 0!important;
    }
    .isotope-items{
      > div{
        padding: 0!important;
        .isotope-item{
          margin-bottom: 0!important;
        }
      }
    }
  }
}

.brand-grid{
  .views-view-grid{
    .views-row{
      margin-bottom: 65px;
      .views-field-field-image{
        text-align: center;
        @include media-breakpoint-down(xs){
          margin-bottom: 20px;
        }
      }
    }
  }
}

.category-list{
  .item-list{
    ul{
      li{
        border: none;
        margin: 0 0 10px!important;
        padding: 0!important;
        border: none!important;
        a{
          padding: 8px 10px 8px 15px;
          display: block;
          border: 1px solid $border-color;
          text-transform: none;
          font-size: 14px;
          overflow: hidden;
          @include transition(all 0.35s);
          position: relative;
          font-weight: 500;
          &:hover, &:focus, &:active{
            color: $theme_color;
          }
        }
      }
    }
  }
}

//--------- Testimonial node --------------------
.testimonial-v1{
  .testimonial-item{
    text-align: center;
    background: $white;
    padding: 60px 30px;
    .quote{
      line-height: 28px;
      position: relative;
      padding-top: 35px;
    }
    .avatar{
      text-align: center;
      img{
        @include size(100px, 100px);
        @include border-radius(50%);
      }
    }
    .content{
      .title{
        margin: 30px 0 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        color: $black;  
      }
      .job{
        font-size: 12px;
        color: #bbbbbb;
      }
    }  
  }
}

.view-testimonial-v2{
  position: relative;
  float: left;
  width: 100%;
  .owl-dots{
    text-align: left;
    position: relative;
    margin-top: 20px;
    float: left;
    width: 100%;
    .owl-dot{
      display: inline-block;
      padding: 0;
      margin: 5px;
      background: none;
      @include size(45px, 45px);
      @include border-radius(0);
      border: 2px solid $border-color;
      @include box-shadow(none);
      text-align: center;
      position: relative;
      z-index: 9;
      &.active{
        border-color: $theme_color;
      }
    }
  }
  .owl-nav{
    display: none;
  }
}

.testimonial-grid{
  .item-grid{
    margin-bottom: 45px;
    @include clearfix();
    .testimonials-quote{
      font-size: 16px;
      color: $black;
      padding: 30px;
      border: 1px solid $border-color;
      font-weight: 300;
      font-style: italic;
    }
    .testimonials-profile{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      float: left;
      padding-top: 20px;
      &:after{
        content: "";
        position: absolute;
        @include size(50px, 2px);
        background: $theme_color;
        top: -1px;
        left: 0;
        z-index: 1;
      }
      .right{
        padding-left: 70px;
        .name{
          font-size: 16px;
          font-weight: 500;
          color: #000000;
          margin: 0;
          text-transform: uppercase;
        }
        .job{
          font-size: 12px;
          font-weight: 900;
          color: $theme_color;
          text-transform: uppercase;
        }
      }
      .left{
        display: inline-block;
        float: left;
        img{
          @include border-radius(50%);
          width: 50px;
          height: auto;
        }
      }
    }
  }
}
//============== Gallery ======================
.slider-gallery-v1{
    margin-left: -3px!important;
    margin-right: -3px!important;
    .carousel-item{
      float: left;
      padding-right: 3px!important;
    }
    img{
      -ms-transform-style: none!important;
      -webkit-transform-style: none!important;
      -o-transform-style: none!important;
      transform-style: none!important;
      -ms-transform: none!important; 
      -webkit-transform: none!important; 
      transform: none!important; 
    }
    .gallery-large{
      background: $white;
      img{
        width: 100%;
        height: auto;
      }
    }
  div{
     > .gallery-small{
        width: 50%!important;
        background: transparent!important;
        float: left;
        .gallery-small-item{
          background: $white;
          width: 100%!important;
          height: auto!important;
          float: left;
          clear: both;
          padding-bottom: 3px;
          margin: 0;
          &:last-child{
            padding-bottom: 0;
          }
          img{
            width: 100%;
            height: auto;
          }
      }
    }
  }
}

.small-list{
  .item-list ul > li{
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px!important;
    padding-bottom: 15px;
    a{
      font-size: 12px;
      text-transform: uppercase;
      color: $black;
      font-weight: 500;
      &:hover{
        color: $theme_color;
      }
    }
    &:last-child{
      border: none;
      margin-bottom: 0!important;
      padding-bottom: 0;
    }
  }
}


.tags-list{
  .item-list > ul{
    > li{
      margin-bottom: 5px;
      display: inline-block;
      float: left;
      margin-right: 10px;
      a{
        padding: 6px 12px;
        overflow: hidden;
        font-size: 14px;
        display: inline-block;
        @include transition(all 0.35s);
        font-weight: 500;
        font-family: $font-second;
        border: 1px solid $border-color; 
        &:hover, &:focus, &:active{
          background: $theme_color;
          color: $white;
        }
      }
    }
  }
}

.banner-carousel{
  .init-carousel-owl{
    margin-left: 0;
    margin-right: 0;
    .item{
      padding: 0;
      border-left: 0;
      text-align: center;
      position: relative;
      .item-image{
        
      }
    }
  }
  &.v2{ 
    .item{
      padding: 0;
      height: auto;
      background: transparent;
      > div{
        padding: 15px 20px;
        text-align: center;
        position: relative;
        .item-image{

        }
        &:last-child{
          border: none;
        }
      }
    }
  }
}

.sew-view-onefour{
  .big-row{
    margin-left: 2px;
    margin-right: 2px;
    .first-item{
      padding-left: 2px;
      padding-right: 2px;
      margin-bottom: 4px;
    }
    .small-items{
      > .row{
        margin-bottom: 4px;
        > .item{ 
          padding-left: 2px;
          padding-right: 2px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
