<div class="progress-bar-style-1">
    <h4>{{content.field_title.0}}</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{content.field_percentage.0}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        </div>
        <h5>{{content.field_percentage.0}}</h5>
    </div>
</div>