{% if content.field_title.0 %}
<section class="skills-3 dt-section">
    <div class="container">
        <div class="home-3-title">
            <h2>{{content.field_title}}</h2>
        </div>
        <div class="row s-35">
            {{content.field_skills}} 
        </div>
    </div>
</div>    
{% else %}                    
<div class = "skillsStyle dt-section">
    <div class="container">
        <div class="skills-2">
            <div class="row s-35">
                {{content.field_skills}}    
            </div>
        </div>
    </div>    
</div>
{% endif %}