/* claro_menu_fix.css */

.toolbar-tray .menu-item .menu-item--expanded a, 
.toolbar-tray .menu-item .menu-item--expanded a:visited {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

.toolbar .toolbar-tray-vertical .menu-item.menu-item--expanded.level-2 a,
.toolbar .toolbar-tray-vertical .menu-item.menu-item--expanded.level-2 span {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
  }