/* Sprinkler system Related View Adjustments */

.ss-winterizing-total .view-content {
    display: inline !important;
  }

/* Fall clean-up Related View Adjustments */

.last-year-count,
.last-year-count .view-content,
.last-year-count .views-row,
.last-year-count .views-field,
.last-year-count .field-content,
.last-year-count div {
  display: inline !important;
  margin: 0;
  padding: 0;
}