<section class="team-3 team-style-3 bg-gray dt-section">
    <div class="container">
        <div class="home-3-title">
            <h2>{{content.field_title.0}}</h2>
        </div>
        {{content.field_team}}
    </div>
</section>
