
{% for key,value in content.field_images['#items'] %}
<div class="col-lg-4 col-md-6 col-12">
    <div class="item">
        <img src="{{file_url(content.field_images['#items'][key].entity.uri.value)}}" alt="{{content.field_images['#items'][key].alt}}">
    </div>
</div>
{% endfor %}