<section class="testimonials-3 slider-template-3 bg-image dt-section" style="background-image: url({{file_url(content.field_image['#items'].entity.uri.value)}});">
    <div class="container">
        <div class="home-3-title">
            <h2>{{content.field_title.0}}</h2>
        </div>
            {{content.field_testimonials_3}}
    </div>
</section>