<section class="about-us-2  dt-section2">
    <div class="container">
        <div class="row s-0">
            <div class="col-lg-5 col-md-7 col-12">
                <div class="image">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="content">
                    <h2>{{content.field_title.0}}</h2>
                    {{content.field_description.0}}
                </div>
            </div>
        </div>
    </div>
</section>