<section class="about-us-style-1">
    <div class="container">
        <div class="content">
            <h2>{{content.field_title.0}}</h2>
            {{content.field_description.0}}
        </div>
        <div class="single-slider owl-carousel owl-theme">
            {{content.field_image_2}}
        </div>
    </div>
</section>