<section class="counters-1 bg-image dt-section" style="background-image: url('{{file_url(content.field_image['#items'].entity.uri.value)}}');">
    <div class="container">
        <div class="counter-style-1">
            {{content.field_counts}}
        </div>
    </div>
</section>