<section class="about-2-counters dt-section">
    <div class="container">
        <div class="row s-0 counter-style-1">
            {{content.field_counts_2}}                    
        </div>
    </div>
</section>
<hr class="section-divider">