<section class="counters-3">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="counter-wrapper">
                    <div class="counter-style-1">
                        {{content.field_count_3}}                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>