/* MOBILE + DESKTOP STACKED LAYOUT */
.view {
  display: flex;
  flex-direction: column;
  gap: var(--sp1);
}

.view .view-filters,
.view .view-content,
.view .views-exposed-form {
  width: 100% !important;
  max-width: 100% !important;
  float: none !important;
  clear: both !important;
  display: block !important;
  box-sizing: border-box;
  padding: var(--sp0-5);
  margin: 0 !important;
  overflow-x: auto;
}

.view .form-item {
  width: 100%;
  margin-bottom: 1rem;
}

.view .table {
  display: block;
  overflow-x: auto;
  width: 100%;
}


/* Property Work Orders View */
.view-property-work-orders * {
  position: static !important;
}

.view-property-work-orders td.views-field-created {
  font-size: 80% !important;
  line-height: 1.2 !important;
}

.view-property-work-orders td.views-field-created time,
.view-property-work-orders td.views-field-created a,
.view-property-work-orders td.views-field-created br {
  display: inline !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

.view-property-work-orders td {
  padding-left: 1rem;
  padding-right: 1rem;
}

.view-property-work-orders .work-order-title {
  font-weight: 700 !important;
  font-size: 1.1rem !important;
  margin-bottom: 0.2rem !important;
  display: inline-block;
}

.view-property-work-orders .views-field-nothing sub p {
  margin-top: 0 !important;
  padding-top: 0 !important;
}


/* EVA VIEW TWEAKS FOR WO NOTES */
.view-wo-notes .views-row {
  margin-top: 1.75rem !important;
  margin-bottom: -2rem !important;
}

.view-wo-notes .entered-by-text {
  font-weight: bold;
  margin-top: 0 !important;
}

.views-field .views-field-field-note-text,
.views-field-field-note-text p,
.views-field-field-total-time p {
  margin: 0 0 0.5rem 0 !important;
  padding: 0 !important;
  text-indent: 2em;
}

/* SCHEDULED TEAMMATE VIEW */
.view-wo-scheduled-teammate-view footer sub {
  font-size: .8rem;
  line-height: .6rem !important;
  --line-height-base: 0.6875rem !important;
}

/* WO SIGN OFF VIEW */
.view-wo-sign-off,
.view-wo-sign-off h3 {
  gap: 0rem !important;
}

.view-wo-sign-off h3 {
  margin-top: 2rem !important;
  margin-bottom: 0;
}

/* TEAMMATE HANDBOOK VIEW */

.view-subordinate-handbook-pages .views-field-title {
  margin-bottom: -1.5em;
}

.parent-link .views-field-title {
  text-align: right;
}

.view-subordinate-handbook-pages .view-handbook-child-pages {
  margin-left: 2em;
}

.view-subordinate-handbook-pages .view-handbook-child-pages .views-field-title {
  margin-bottom: -1.0em;
}

.view-subordinate-handbook-pages .view-handbook-child-pages .views-field-field-intro {
  margin-left: 1em;
}

.view-subordinate-handbook-pages .view-handbook-child-pages .views-field-field-body-1 {
  margin-top: -0.5em;
  text-align: right; 
}

.view-subordinate-handbook-pages .view-handbook-child-pages ul {
  margin-block-start: 1.0em;
}