.toolbar-tray-open .header{
    padding-top:80px !important;
}
.contact-2 .form-style-1 .mb-3 {
   margin:0 !important;
}
.navbar-collapse{
    justify-content: flex-end;
}
#header-1 .nav-link svg {
    display: none;
}
#header-2 .nav-link svg {
    display: none;
}
#header-1 .lang-dropdown-item>a {
    text-transform: uppercase;
}

#header-2 .lang-dropdown-item a img,
#header-3 .lang-dropdown-item a img {
    display: none;
}
.footer .copyrights p {
    width: 100% !important; 
}
.site-footer {
    padding: 0 !important;
}
[class *="form-type"].mb-3 {
    margin-bottom: 0 !important;
}
.contact-2 .btn-primary{
    font-size: 16px;
    letter-spacing: 0.16px;
    font-weight: 700;
    width: 160px;
    color: white;
    border-radius: 2px;
    height: 54px;
}
.contact-1 .form-style-1 .mb-3{
    margin:0 !important;
}
.node__content {
    margin-top: 0px;
}
.form-style-3 textarea {
    height: 66px;
}
.sidebar_second{
    width: 100%;
}


.standard-blogs-sidebar .container>.row>.col-lg-8 {
    width: 100% !important;
}
.sidebar .block{
background-color: unset;
}

.sidebar .block {
    margin: 0 0 60px;
    padding-top: 0;
    padding-bottom: 0;
}


.btn-outline-primary.btn-primary {
    color: var(--bs-primary);
    background-color: transparent;
    border: 2px solid var(--bs-primary);
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 0.16px;
    font-weight: 700;
    min-width: 160px;
    height: 54px;
}
.btn-outline-primary.btn-primary:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.btn-outline-primary.btn-primary.white {
    color: #FFF;
    background-color: transparent;
    border: 2px solid #FFF;
}
.btn-outline-primary.btn-primary.white:hover {
    color: var(--bs-primary);
    background-color: #FFF;
    border-color: #FFF;
}
.contact-2 .form-style-1 .btn {
    
    border: 2px solid var(--bs-primary);
    border-radius:5px;
}
.contact-2 .form-style-1 .btn:hover{
    color: var(--bs-primary);
}
/* Pager */
.page-item.active .page-link {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color:#FFF;
}
.blog-2-column.dt-section,
.blog-3-column.dt-section,
.blog-grid-sidebar.dt-section,
.standard-blogs-page.dt-section,
.standard-blogs-sidebar.dt-section {
    padding-bottom: 0;
}
 .pagination-btns {
    padding-bottom: 100px;
} 
.page-item.pager-first {
    transform: rotate(180deg);
}

.gallery-blog {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.video-blog {
    padding-bottom: 0px !important;
}
.standard-blog {
    padding-bottom: 0px !important;
}

.standard-blogs-page .section-divider:last-of-type {
    display: none;
}
.views-element-container {
    padding: 0px !important;
}

.container{
    padding: 0px 12px;
}
#page_content{
    overflow:hidden;
}

.contextual-region {
    position: unset; 
}
.services-style-2 .center-btn .btn:hover {
    color: #FFF;
}
/* portfolio style 2 */
.portfolio-2::before {
    z-index: 0;
}
/* portfolio style 3 */
.portfolio-3 .center-btn .btn:hover{
    color:#fff;
}
.portfolio-2 .home-2-title h2{
    z-index:0;
}
/* call to ACTION VIDEO */
.skillsStyle.dt-section{
    padding-top: 0;
}

/* pricing style 2 */
.pricing-style-2 .btn:hover,
.pricing-style-3 .btn:hover{
    color:#fff
}
/* contactform */
.contactForm .col-md-6{
    width:100%
}
.contactForm .btn{
    border: 2px solid #fff;
}
.contactForm .btn:hover{
    background-color: #fff;
}

/* about us 2 */
.about-us-2.dt-section{
    padding-top: 0;
}

.dt-section2{
    padding: 100px 0;
}

/* Job application form */
.careers-apply-page .btn:hover{
    color:#FFF;
}

/* Search Result */
.search-result.dt-section{
    padding-bottom: 0px;
}

/* login button */
.login-btn .btn,
.register-form .btn,
.password-reset-form .btn{
    border-radius: 5px;
    height: 54px;
    min-width: 160px;
    position: relative;
    top: 10px;
}
/* errorr pages */
.error-page .btn:hover{
    color:#fff;
}

/* Login Form */
.login label{
    display:none;
}

.register-form label{
    display:none;
}
#edit-mail--description,
#edit-name--description,
#edit-pass--description{
    display:none;
}

/* addtoany */
.block-addtoany-block{
    
    height: 30px;
}
.a2a_kit.a2a_kit_size_32.addtoany_list{
    display: flex;
}

#search-form{
    display:none;
}
.replyImg img{
    width:6%;
    margin:10px;
    border-radius:50%;
}
.password-reset-form label{
    display:none;
}
body.page-node-type-home-page nav.tabs {
    margin-top: 86px;
}
/* home slider 2 social icons */
.home-2-slider .follow-social i{
    position:relative;
    top:2px;
}
.home-slider-2 .overlay * {
    top: 0.2px;
}
/* PORTFOLIO DETAILS 3 ADDTOANY */
.portfolio-details-3 .block-addtoany-block .content{
    padding:0;
}
/* blog 3 Butn */
.blog-style-3 .btn:hover{
    color:#FFF;
}
/* about us 3 btn */
.about-us-3 .btn:hover{
    color:#FFF
}
/* footer Logo */
.footerFifth .region{
    margin:0
}
.standard-blogs-sidebar .section-divider:last-of-type {
    display: none;
}
.standard-blogs-sidebar .container{
    padding:0
}
.navSticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0px 1px 8px #0000000f;
}
.fixed-top {
    position: absolute;
}
/* .custom-class {
    margin-top: 85px;
} */

/* {# comment #} */
.path-comment #main.reply-comments {
    max-width: 1140px !important;
    margin-left:auto;
    margin-right:auto;
    padding-top: 200px;
    padding-bottom: 100px;
}
.home-slider-1 .image .overlay svg {
    margin-top: -1px;
    transform:scale(1.009);
}
.alert{
    z-index: 123456;
}

.comment-list img{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-right: 30px;
}
.blog-details .comments .indented{
    padding:30px 0;
}

.container-fluid{
    padding:0;
}
.blog-grid-sidebar .sidebar{
   padding-bottom:100px;
   margin-top:0;
}

.dt-section-taxonomy{
    padding-top:100px;
    padding-bottom:100px;
}

.nice-select{
    float:none;
}
.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.pricing-style-2 .item.recommended .btn{
    color:#FFF;
    background-color: var(--bs-primary)
}
.pricing-style-2 .item.recommended .btn:hover{
    color:var(--bs-primary);
    background-color: #fff;
}
.btn-outline-primary:focus{
    color:var(--bs-primary)
}
.table>:not(:first-child) {
    border:none;
}
.contact-style-2-form .form-style-3 .mb-3{
    margin:0 !important;
}
.alert.alert-dismissible.fade.show.col-12.alert-danger{
    display:none;
}