<div class="portfolio-carousel gallery-post text-center margin-bottom-30"> 
   <div class="image">{{ fields.field_gallery_image.content }}</div>
   <a data-pid="{{row.index + 1}}" class="link-image sew-swipe-image-item sew-swipe-image-item-number sew-swipe-image-item-thumb" href="{{fields.field_gallery_image_1.content|striptags|trim}}"><i class="fas fa-expand"></i></a>
</div>