{% set paragraph_parent = paragraph.getParentEntity() %}
{% set variant = paragraph_parent.type.value[0].target_id %}
{% if variant == "pricing_plan_style_03" %}
    {% if content.field_not_available.0['#markup'] == 1 %}
        <li class="strike-out">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
                    <g data-name="Group 40485" transform="translate(-490.47 -1033.47)">
                        <rect data-name="Rectangle 21" width="200" height="200" rx="100" transform="translate(490.47 1033.47)" fill="#131517" opacity="0.1"></rect>
                        <path data-name="Path 12" d="M209.633,120.939,159.75,170.389a7.084,7.084,0,0,1-10,0l-24.886-24.884a6.987,6.987,0,0,1,0-9.954,7.085,7.085,0,0,1,10,0l20,19.908,44.884-44.474a7.016,7.016,0,1,1,9.888,9.954Z" transform="translate(423.197 992.781)" fill="#131517" fill-rule="evenodd"></path>
                    </g>
                </svg>
            </div>
            {{content.field_benefit}}
        </li>
    {% else %}
        <li>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
                    <g data-name="Group 40485" transform="translate(-490.47 -1033.47)">
                        <rect data-name="Rectangle 21" width="200" height="200" rx="100" transform="translate(490.47 1033.47)" fill="#131517" opacity="0.1"></rect>
                        <path data-name="Path 12" d="M209.633,120.939,159.75,170.389a7.084,7.084,0,0,1-10,0l-24.886-24.884a6.987,6.987,0,0,1,0-9.954,7.085,7.085,0,0,1,10,0l20,19.908,44.884-44.474a7.016,7.016,0,1,1,9.888,9.954Z" transform="translate(423.197 992.781)" fill="#131517" fill-rule="evenodd"></path>
                    </g>
                </svg>
            </div>
            {{content.field_benefit}}
        </li>
    {% endif %}
{% else %}
    {% if content.field_not_available.0['#markup'] == 1 %}
        <li class="strike-out">{{content.field_benefit}}</li>
    {% else %}
        <li>{{content.field_benefit}}</li>
    {% endif %}
{% endif  %}




    
