<section class="pricing-style-1 dt-section">
    <div class="container">
        <div class="home-1-title">
            <h2>{{content.field_title.0}}</h2>
        </div>
        <div class="row s-15">
            {{content.field_pricing_plan}}                    
        </div>
    </div>
</section>
