<section class="pricing-style-2 dt-section">
    <div class="container">
        <div class="home-2-title">
            <h2>{{content.field_title.0}}</h2>
        </div>
        <div class="row s-12-5">
            {{content.field_pricing_plan_2}}                    
        </div>
    </div>
</section>